<html>
<head>
    <title>https://gitlab.com/muqiuq/mikrotikgeoip</title>
</head>
<body>
<ul>
    <h2><a href="https://gitlab.com/muqiuq/mikrotikgeoip">https://gitlab.com/muqiuq/mikrotikgeoip</a></h2>
    <br/>
    {% for list in lists %}
    <li><a href="{{ list }}">{{ list }}</a></li>
    {% endfor %}
</ul>
</body>
</html>